body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.showList a:link{
	color:#666666;
	line-height:25px;
}
.showList a:visited{
	color:#666666;
	line-height:25px;
}
.showList a:hover{
	color:#666666;
	line-height:25px;
}
.showList a:active{
	color:#666666;
	line-height:25px;
}